---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import
	"reset",
    "variables",
	"bourbon/bourbon",
	"base/base",
	"font-awesome/font-awesome",
	"responsive-nav"
;

strong {
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin: 15px;
	padding-left: 15px;
}

ul li ul {
	list-style-type: circle;
	margin: 0;

}

ul li ul li ul {
	list-style-type: none;
}

ul li ul li ul li:before {
	content: "+";
	font-weight: bold;
	margin-right: 10px;
}

ul li ul li ul li ul li:before {
	content: "*";
}

ol {
	list-style-type: decimal;
	margin: 15px;
	padding-left: 15px;
}

a, a:visited {
	color: $orange
}

a:hover, a:focus, a:active {
	color: darken($orange, 20%);
}

.site-footer {
	padding: 15px;
	clear: both;
}

.page-content {
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

.site-header {
	background-color: $shield;
	padding: 10px;
	overflow: hidden;

	img {
		width: 50px;
		float: left;
		margin-right: 15px;
	}

	a {
		padding-top: 15px;
		color: $white;
		font-weight: bold;
	}

	a.site-title {
		display: inline-block;

		&:hover, &:focus, &:active, &:visited {
			color: $white;
			opacity: .85;
		}
	}
}


.page-content {
	.wrapper {
		margin: 40px auto;
	}
}

footer {
	background-color: $shield;
	overflow: hidden;

	.footer-col {
		overflow: hidden;
	}

	a {
		color: $white;

		&:hover, &:focus, &:active, &:visited {
			color: $white;
			opacity: .85;
		}
	}

	.contact-list {
		list-style-type: none;
		color: $white;
	}

	.footer-col-1 {
		float: left;
	}

	.footer-col-2 {
		float: right;
		list-style-type: none;
	}

	.social-media-list {
		list-style-type: none;
	}

	.fa {
		font-size: 1.2em;
	}
}

.post-content, .page-info {
	h4 {
		margin-top: 60px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.weeks {
	background-color: #dfdfdf;
	ul {
		list-style-type: none;
	}
}

.assignment-title, .page-heading {
	margin-bottom: 60px;
	padding-bottom: 20px;
	border-bottom: 1px solid #c6c6c6;
}

.site-info {
	float: left;
}

nav {
	float: right;
}

@media screen and (min-width: 640px) {
	.page-content {
		.wrapper {
			width: 65%;
			max-width: 660px;
		}
	}

	.page-info {
		width: 75%;
		float: left;
		padding: 0 20px;
		box-sizing: border-box;
	}

	.weeks {
		width: 25%;
		float: left;
	}

}
