---
layout: default
nav: true
title: Notes and Assignments
---

<div class="home">
  <h1 class="page-heading">Welcome to TIY ATX UI Design August 2015!</h1>
  <div class="weeks">
  <ul>
    {% for page in site.pages %}
      {% if page.week-num %}
      <li>
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class="page-info">
    <h4>Weekly Notes and Assignments</h4>
    <p>Everyday a bit of written, audio, or video resources will be assigned to review, which will supplement class assignments. <strong>Assignments are always due by 8:59am of the following day, unless noted.</strong> Thursday Assignments will be due Monday morning.
  </p>
  <p>
    Every Tuesday and Thursday morning we will do a 10 minute critique on a website/app that you find that you think represents good design.  You will be required to defend your decision.  The specifics of this project will be posted in the assignment for those days. 
    </p>
  </div>
</div>
