<header class="site-header">

  <div class="wrapper">
    
    <div class="site-info">
      <img src="http://tiy-atx-ui-aug2015.github.io/Curriculum/images/logo.png" alt="The Iron Yard" />
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <nav class="nav-collapse">
    <a href="#" class="nav-toggle" aria-hidden="false">Menu</a>
      <ul>
        {% for page in site.pages %}
          {% if page.nav %}
          <li>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
